@import "tailwindcss";
@import "tw-animate-css";


@theme {
  --spacing: 4px;
  --font-body: Inter, sans-serif;
  --color-primary: #00a550;
  --color-secondary: #d6ffea;
  --color-dark:#016632;
  --color-text: #cdcdcd;
  --color-red: #ee383f;
  --color-red-primary: #A3151A;
  --color-red-light: #FCD9DB;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 240, 240, 240;

  --neutral: 240, 240, 240; /* #f0f0f0 */
  --neutral-dark: 100, 116, 139; /* #64748b */
}

body {
  color: rgb(var(--foreground-rgb));

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animação de pulso para o botão do WhatsApp */
.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(73, 255, 189, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(73, 255, 189, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(73, 255, 189, 0);
  }
}


